body {
    background-color: whitesmoke;
}

#main {
    width: 40vw;
    margin: 100px auto;
}

.container {
    position: relative;
}

.btn {
    position: absolute;
    top: 50%;
    border: none;
}

.btn:hover {
    background-color: aquamarine;
}

.prev {
    left: 1%;
}

.next {
    right: 1%;
}

img {
    width: 100%;
}

@media only screen and (max-width: 740px) {
    /* For mobile phones: */
    #main {
        width: 99vw;
        margin: 10px auto 0;
    }

    .container {
      width: 98%;
    }

    img {
        height: 100%;
    }
  }
  